acres==0.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
certifi==2025.4.26
charset-normalizer==3.4.2
ci-info==0.3.0
click==8.1.8
configobj==5.0.9
configparser==7.2.0
defusedxml==0.7.1
et_xmlfile==2.0.0
etelemetry==0.3.1
filelock==3.18.0
Flask==3.1.0
httplib2==0.22.0
idna==3.10
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.6
langdetect==1.0.9
looseversion==1.3.0
lxml==5.4.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
MouseInfo==0.1.3
networkx==3.4.2
nibabel==5.3.2
nipype==1.10.0
numpy==2.2.5
odf==0.0.1
odfpy==1.4.1
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pathlib==1.0.1
pillow==11.2.1
prov==2.0.1
puremagic==1.29
PyAutoGUI==0.9.54
pydot==3.0.4
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.1
PyMsgBox==1.0.9
pyparsing==3.2.3
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
python-dateutil==2.9.0.post0
python3-xlib==0.15
pytube==15.0.0
pytweening==1.2.0
pytz==2025.2
pywhatkit==5.4
pyxnat==1.6.3
rdflib==6.3.2
requests==2.32.3
rich==14.0.0
scipy==1.15.2
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
soupsieve==2.7
traits==7.0.2
typer==0.12.5
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
Werkzeug==3.1.3
wikipedia==1.4.0
